RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/Loteria_bilteow/index.php

RewriteRule ^(.+)?$ Loteria_bilteow/index.php [QSA,L]








